/backend/.env
/backend/venv
/backend/__pycache__
/backend/uploads
/frontend/.next
/frontend/node_modules
/frontend/.env
.env
/backend/uploads
/backend/__pycache__
/backend/env
/backend/node_modules
/backend/python_backup